@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

button,
input:focus,
textarea:focus {
  outline: none;
}
html,
body {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
.opacityAnimation {
  animation: opacityAnimation 5s ease infinite;
  animation-delay: 1s;
}
@keyframes opacityAnimation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dc2626;
  border-radius: 2px;
}
.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  from {
    background-color: hsl(195, 10%, 80%);
  }
  to {
    background-color: hsl(200, 20%, 95%);
  }
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #dc2626;
  animation: prixClipFix 1s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 280px;
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #dc2626;
  border: none;
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
  z-index: 3;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #dc2626;
  border: none;
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
  z-index: 4;
}
